body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   background-color: #89bcd9;
}
h1{
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: blue;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

input{
    font-size: 30px;
    width: 200px;
    margin-right: 50px;
    border-radius: 5px;
    border: 1px solid rgb(97, 96, 96);

}
#gender{
    margin: 0px;
    padding: 0px;
    width: 100px;

}
.mob{
    width: 550px;
}
a{
    margin-right: 420px;
}
.gender{
    width: 500px;
    height: 100px;
    background-color: pink;
}
button{
    width: 170px;
    height: 60px;
    font-size: 20px;
    background-color: rgb(45, 190, 45);
    color: whitesmoke;
    font-weight: 800;
    border-radius: 15px;
}
.login{
    display: inline;
    margin-right:0px ;
}
.mainCantaint{
    background-color: whitesmoke;
    padding: 20px;
    justify-content: center;
    text-align: center;
    width: 550px;
    height: 670px;
    border: 0px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 15px;
    
}